:root {
    --bg_colour: #e1e8e1;
    --alt_bg_colour: rgba(164, 180, 164, 0.3);
    --txt_colour: #111111;
    --footer_bg: #a4b4a4;
    --nav_bg: #989e98;
    --card_bg: #c8d6c8;
    --secondary_colour: #829282;
    --secondary_colour_button: #90a290;
    --alt_text_colour: #eeeeee;
    --alt_secondary_colour: #425242;
}

html {
    scroll-behavior: smooth;
}

.light_mode {
    --bg_colour: #e1e8e1;
    --alt_bg_colour: rgba(164, 180, 164, 0.3);
    --txt_colour: #111111;
    --footer_bg: #a4b4a4;
    --nav_bg: #989e98;
    --card_bg: #c8d6c8;
    --secondary_colour: #829282;
    --secondary_colour_button: #90a290;
    --alt_text_colour: #eeeeee;
    --alt_secondary_colour: #425242;
}

.dark_mode {
    --bg_colour: #111711;
    --alt_bg_colour: rgba(40, 50, 40, 0.3);
    --txt_colour: #eeeeee;
    --footer_bg: #283228;
    --nav_bg: #1e241e;
    --card_bg: #384838;
    --secondary_colour: #4a5a4a;
    --secondary_colour_button: #3a4a3a;
    --alt_text_colour: #111111;
    --alt_secondary_colour: #a4b4a4;
}

a {
    text-decoration: none;
}
 
#dropdown_buttons a{
    display: block;
    text-decoration: none;
    width: 100%;
    color: inherit;
}

body {
    font-family: 'Segoe UI', Roboto;
    line-height: 1.8;
    background-color: var(--bg_colour);
    color: var(--txt_colour);
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 75%;
    max_width: 1000px;
    margin: auto;
    padding: 10px 0px;
}

.identifier {
    width: 100%;
    padding: 50px 0px 80px 0px;
}

.identifier h1 {
    font-size: 100px;
}

.identifier b {
    font-size: 50px;
}

.Desktop {
    position: fixed;
    display: flex;
    background-color: var(--secondary_colour);
    height: 73px;
    top: 0;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
}

.Desktop ul li ul{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: relative;
    left: -40px;
    z-index: 1;
    transition: all ease-in-out 0.1s;
}


.Desktop ul li ul li a{
    font-weight: bold;
}

.Desktop ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.Mobile {
    position: fixed;
    display: none;
    background-color: var(--secondary_colour);
    height: 73px;
    top: 0;
    width: 100%;
    z-index: 10;
    justify-content: space-between;
    left: 0;
}

.Mobile ul li ul{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    transition: all ease-in-out 0.1s;
}


.Mobile ul li ul li a{
    font-weight: bold;
    width: 100%;
}

.Mobile ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

#dropdown_buttons:hover {
    background-color: var(--alt_secondary_colour);
    color: var(--alt_text_colour);
}

header {
    background-color: var(--footer_bg);
    text-align: center;
}

header h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    color: var(--alt_secondary_colour);
    font-size: 50px;
    text-decoration: underline;
    text-underline: var(--alt_secondary_colour);
    text-align: center;
}

h3 {
    color: var(--alt_secondary_colour);
    font-size: 35px;
    text-decoration: underline;
    text-underline: var(--alt_secondary_colour);
    text-align: center;
}

h4 {
    color: var(--alt_secondary_colour);
    font-size: 30px;
    text-decoration: underline;
    text-underline: var(--alt_secondary_colour);
    text-align: center;
}

header p {
    font-size: 30px;
    color: var(--txt_colour);
}

p {
    color: var(--txt_colour);
    text-align: center;
    font-size: 30px;
}

projectPage{
    padding: 10px;
}

projectGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
}

projectCards{
    padding: 10px;
    margin: auto;
    background-color: var(--card_bg);
    border-radius: 10px;
    transition: transform 0.2s;
}

projectCards img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

projectCards h3{
    font-size: 30px;
    line-height: 1.4;
}

projectCards:hover{
    transform: scale(1.04);
    cursor: pointer;
}

skillsList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style-type: none;
}

skillsList li {
    background-color: var(--secondary_colour);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

skillsList li p {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

#theme_changer{
    color: var(--txt_colour);
    background-color: var(--footer_bg);
    border: 1px solid var(--alt_text_colour);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s, 1s;
    translate: 0px 8px;
    margin-left: auto;
    margin-right: auto;
}

#theme_changer:hover {
    color: var(--alt_text_colour);
    background-color: var(--alt_secondary_colour);
}

#nav_buttons{
    color: var(--txt_colour);
    background-color: var(--secondary_colour);
    border: none;
    padding: 18px 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transform: initial;
    width: 100%;
    margin: auto;
    text-decoration: none;
    shape-rendering: crispEdges;
}

#nav_mobile_buttons{
    color: var(--txt_colour);
    background-color: var(--secondary_colour);
    border: none;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transform: initial;
    width: 100%;
    display: block;
    text-decoration: none;
    shape-rendering: crispEdges;
}

#nav_mobile_project_buttons{
    list-style-type: none;
    color: var(--txt_colour);
    background-color: var(--secondary_colour_button);
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transform: initial;
    width: 95%;
    display: block;
    text-decoration: none;
    shape-rendering: crispEdges;
    margin: 0px 15px;
}

#dropdown_buttons {
    color: var(--txt_colour);
    background-color: var(--secondary_colour);
    border: none;
    padding: 0 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    shape-rendering: crispEdges;
    display: block;
}

ul.navigation{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: initial;
    background-color: var(--secondary_colour);
    position: relative;
    z-index: 1;
    width: 100%;
}

ul.navigation li{
    float: left;
}

ul.navigation-Alt{
    list-style-type: none;
    overflow: initial;
    background-color: var(--secondary_colour);
    position: relative;
    z-index: 1;
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
}

ul.navigation-Alt li{
    align-self: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: none;
}


#nav_buttons:hover{
    color: var(--alt_text_colour);
    background-color: var(--alt_secondary_colour);
}

#nav_mobile_buttons:hover{
    color: var(--alt_text_colour);
    background-color: var(--alt_secondary_colour);
}

#nav_mobile_project_buttons:hover{
    color: var(--alt_text_colour);
    background-color: var(--alt_secondary_colour);
}

.video-container{
    position: relative;
    padding-bottom: 45.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 75%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 0 20px;
}

body.dark-mode .video-container {
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.information-block {
    alignment-baseline: center;
    text-align: center;
    background-color: var(--alt_bg_colour);
    margin: 80px;
}

.information-block p {
    padding-left: 4%;
    padding-right: 4%;
}

@media screen and (max-width: 740px){
    #NavBar-Desktop {
        display: none;
    }
    #NavBar-Mobile {
        display: block;
    }
}